#base-nav{
    display: flex;
    justify-content: space-around;
}




.dark-mode{
    background-color: black;
    color: white;
}

.active{
    background-color: red;
}

#checkout-link{
 
    position:fixed;
    background-color: aqua;
}