@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@200&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: "Bitter", serif;
  font-weight: 600;
  font-size: 4.5vw;
  text-align: center;
}

#error {
  margin-top: 50%;
}

.empty-cart {
  font-size: 8vw;
  padding-top: 15vh;
}

#list {
  margin-top: 18%;
  margin-bottom: 10%;
}

ul {
  padding: 0;
  margin-bottom: 5vw;
}

.invisible {
  display: none;
}

a {
  text-decoration: none;
}

.item-price-wrapper {
  display: flex;
  justify-content: center;
}

#total-box {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
  margin-top: 6vh;
  font-weight: 900;
}

button {
  font-family: "Bitter", serif;
  font-weight: 600;
  letter-spacing: 0.1vh;
  display: block;
  margin: auto;
  margin-bottom: 5%;
  width: 88%;
  background-color: rgb(243, 64, 64);
  color: white;
  border-radius: 4px;
  border: none;
  padding: 2vw;
  font-size: 4.5vw;
  line-height: 8vw;
  cursor: pointer;
}

h2 {
  margin: 1.7vh;
}

.item-image {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.add-button {
  background-color: rgb(27, 128, 27);
}

.red-button {
  background-color: rgb(243, 64, 64);
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15vh;
  padding: 2vw;
}

#base-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(63, 62, 62);
  color: white;
  height: 10vw;
  align-items: center;
  justify-content: center;
}

.nav-link,
.active {
  height: 100%;
  display: flex;

  justify-content: center;
  width: 25vw;
  color: white;
  text-align: center;
  align-items: center;
  font-size: 4.2vw;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.05vh;
}

.active {
  font-weight: 900;
  background-color: rgb(252, 41, 41);
}

#checkout-wrapper {
  display: block;
  margin: auto;

  width: 100%;
  background-color: white;

  padding-top: 2vw;
  padding-bottom: 2vw;

  position: fixed;
  bottom: 0;
  margin: 0px;
  border-top: 1.2vh solid rgb(255, 255, 255);
  border-bottom: 1.2h solid rgb(255, 255, 255);

  width: 95%;

  left: 50%;

  margin-left: -47.5%;
}

#checkout-link {
  background-color: rgb(27, 128, 27);
  color: white;
  font-size: 5.5vw;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  width: 100%;
  padding: 2vw;
  border: none;
}


@media screen and (min-width: 600px){
#error {
  margin-top: 20%;
}
}

@media screen and (min-width: 800px) {
.bottom-breaks{
  display: none;
}
  
  #base-nav {
    height: 5vw;
  }

  .nav-link,
  .active {
    font-size: 2.8vw;
  }

  h2 {
    font-size: 5vw;
    margin: 3.5vw;
  }

  p {
    font-size: 2.5vw;
    margin: 3vw;
  }



  button {
    transform: scale(0.4);
    font-size: 10vh;
  }



  #checkout-wrapper {
    padding: 0;
    height: 10vh;
    z-index: 2000;

    border: 0;
  }

  #checkout-link {
    font-size: 5.5vw;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    width: 80vh;
    padding: 0;
    border: none;
    z-index: 3000;
    /* transform: scale(0.7); */
    font-size: 5vw;
  }

  .item-image {
    width: 30%;
  }
  #error {
    margin-top: 20%;
  }

  #list {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 2vw;
  }

  ul {
    padding: 0;
    margin-bottom: 1vw;
  }


  
  .empty-cart {
    font-size: 8vw;
    padding-top: 15vh;
  }
  

  
  
  .item-price-wrapper {
    display: flex;
    justify-content: center;
  }
  
  #total-box {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 900;
    height: 1vh;
  }

  p {
    font-size: 2.5vw;
    margin: 0;
  }
  
  #checkout-unavailable{
    

    margin-bottom: 0;

    padding: 0;

  }
  #clear-button{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {

  #error {
    margin-top: 15%;
  }

  #list {
    margin-top: 4%;
    margin-bottom: 0;
    font-size: 2vw;
    font-size: 1.2vw;
  }

  .item-image {
    max-width:300px;
  

  }

  h2{
    font-size: 5vh;
  }

  p{
    font-size: 3.5vh;
    margin-top: 2vh;
 
  }
  button {
    transform: scale(0.2);
    padding:0
  }

  #total-box {
transform: scale(0.5);
height: 1vh;

  }

  #list {
    transform: scale(0.8);
  }

  #base-nav {
transform: scale(0.5);
  }

  
}
