<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
    />
  </head>
  <body>
    
    <img class="center" src="{{ url_for('static', filename='images/logo.png')}}" alt="pizza company logo">

 <div id="checkout-wrapper">
    <a id="checkout-link" href="">Link to checkout</a>
  </div>
    <nav id="base-nav">
      {% if active == "home" %}
      <a class="nav-link" href="{{ url_for('views.pizzas') }}">Pizzas</a>
      <a class="nav-link" href="{{ url_for('views.sides') }}">Sides</a>
      <a class="nav-link" href="{{ url_for('views.desserts') }}">Desserts</a>
      <a class="nav-link" href="{{ url_for('views.drinks') }}">Drinks</a>

      {% elif active == "pizzas" %}
      <a class="active" href="{{ url_for('views.pizzas') }}">Pizzas</a>
      <a class="nav-link" href="{{ url_for('views.sides') }}">Sides</a>
      <a class="nav-link" href="{{ url_for('views.desserts') }}">Desserts</a>
      <a class="nav-link" href="{{ url_for('views.drinks') }}">Drinks</a>

      {% elif active == "sides" %}
      <a class="nav-link" href="{{ url_for('views.pizzas') }}">Pizzas</a>
      <a class="active" href="{{ url_for('views.sides') }}">Sides</a>
      <a class="nav-link" href="{{ url_for('views.desserts') }}">Desserts</a>
      <a class="nav-link" href="{{ url_for('views.drinks') }}">Drinks</a>

      {% elif active == "desserts" %}
      <a class="nav-link" href="{{ url_for('views.pizzas') }}">Pizzas</a>
      <a class="nav-link" href="{{ url_for('views.sides') }}">Sides</a>
      <a class="active" href="{{ url_for('views.desserts') }}">Desserts</a>
      <a class="nav-link" href="{{ url_for('views.drinks') }}">Drinks</a>

      {% elif active == "drinks" %}
      <a class="nav-link" href="{{ url_for('views.pizzas') }}">Pizzas</a>
      <a class="nav-link" href="{{ url_for('views.sides') }}">Sides</a>
      <a class="nav-link" href="{{ url_for('views.desserts') }}">Desserts</a>
      <a class="active" href="{{ url_for('views.drinks') }}">Drinks</a>

      {% endif %}
    </nav>

    {% if active in ["pizzas", "sides", "desserts", "drinks"]: %}





    {% endif %}




    {% block content %} {% endblock %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
