{% extends 'base.html' %}

{% block content %}
<h2>Pizzas</h2>

<img class="item-image" src="{{ url_for('static', filename='images/margherita.png')}}" alt="picture of Margherita pizza">

<div class="item-price-wrapper">
    <p class="item-name">Margherita&nbsp;</p>
    <p class="item-currency">£</p>
    <p class="item-price">12.99</p>
  </div>

  <button data-test="nope" id="itworked" basketitem="Margherita" basketprice="12.99"  class="add-button" onclick="addItemToCart(this)">Add</button>















<!-- <p>Margherita £12.99</p>

<button class="add-button" onclick="addToCart()">Add</button> -->

<!-- <p id="cart">cart<br></p>
<p id="total">total<br></p> -->

<img class="item-image" src="{{ url_for('static', filename='images/veg.png')}}" alt="picture of Veggie Delight pizza">

<p>Veggie Delight £14.99</p>

<button basketitem="Veggie Delight" basketprice="14.99"  class="add-button" onclick="addItemToCart(this)">Add</button>

<!-- <button class="add-button" onclick="addToCart()">Add</button> -->

<img class="item-image" src="{{ url_for('static', filename='images/pepperoni.png')}}" alt="picture of Pepperoni pizza">

<p>Pepperoni £15.99</p>

<button basketitem="Pepperoni" basketprice="15.99"  class="add-button" onclick="addItemToCart(this)">Add</button>
<br>
<br>
<br>
<br>

{% endblock %}

<!-- {% block stylesheet %}
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/pizzas.css') }}"/>
{% endblock stylesheet %} -->